<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  
  <!-- Message Block -->
  <%- messages() %>

  <% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
    </ul>
<% } %>

  
  <form id="add-id-form" action="/inv/add-inventory" method="POST" class="form-container">
    <p>ALL FIELDS ARE REQUIRED</p>
    <label for="classificationList">Classification</label>
    <%- list %>

    <label for="inv_make">Make</label>
    <input type="text" id="inv_make" name="inv_make" required minlength="3" value="<%= locals.inv_make || '' %>">
  
    <label for="inv_model">Model</label>
    <input type="text" id="inv_model" name="inv_model" required minlength="3" value="<%= locals.inv_model || '' %>">

    <label for="inv_description">Description</label>
    <textarea rows="4" cols="30" id="inv_description" name="inv_description" required><%= locals.inv_description || '' %></textarea>
    
    <label for="inv_image">Image Path</label>
    <input type="text" id="inv_image" name="inv_image" value="/images/vehicles/no-image.png" required>

    <label for="inv_thumbnail">Thumbnail Path</label>
    <input type="text" id="inv_thumbnail" name="inv_thumbnail" value="/images/vehicles/no-image-tn.png" required>

     <label for="inv_price">Price</label>
    <input type="number" id="inv_price" name="inv_price" value="<%= locals.inv_price %>" required step="0.01" min="0">

    <label for="inv_year">Year</label>
    <input type="text" id="inv_year" name="inv_year" required pattern="^\d{4}$" value="<%= locals.inv_year || '' %>">
  
    <label for="inv_miles">Miles</label>
    <input type="text" id="inv_miles" name="inv_miles" value="<%= locals.inv_miles || '' %>" required pattern="^\d+$">
  
    <label for="inv_color">Color</label>
    <input type="text" id="inv_color" name="inv_color" pattern="^[A-Za-z]+$" value="<%= locals.inv_color || '' %>" required>
  
  <div class="form-button"></div>
    <button type="submit">Add Vehicle</button>
  </form>
  